# Lab 4 - Open Task

## Description of the dataset

The selected data set describes the number of passengers transported by type of transport for 1995-2020. 
It includes the following variables:
- the number of passengers transported by railway for 1995-2020.
- the number of passengers transported by sea for 1995-2020.
- the number of passengers transported by river transport for 1995-2020.
- the number of passengers transported by automobile (buses) for 1995-2020.
- the number of passengers transported by air for 1995-2020.
- the number of passengers transported by trams for 1995-2020.
- the number of passengers transported by trolleybuses for 1995-2020.
- the number of passengers transported by subway for 1995-2020.

Source: State Service of Statistics of Ukraine. Link: (http://www.ukrstat.gov.ua/operativ/menu/menu_u/tr.htm)

`you need to chose 'Кількість перевезених пасажирів за видами транспорту (1995-2020)' there`

### Cleaning and transforming of the data set

The dataset is unclean, so we need to clean it up and convert it

In [40]:
def transport_dataset():
    import pandas as pd
    import numpy as np
    transport = pd.read_excel('W:/University/process_mining/PM_2022/Data/kppvt_95_20_ue.xlsx', 
    skiprows=2, 
    skipfooter=4,
    usecols = "A:I",
    index_col=0,
    names=['Year', 
    'Railway', 
    'Sea', 
    'River',
    'Automobile(buses)',
    'Air',
    'Trams',
    'Trolleybuses',
    'Subway'])
    
    transport['Railway'] = transport['Railway'] * 1000
    transport['Sea'] = transport['Sea'] * 1000
    transport['River'] = transport['River'] * 1000
    transport['Automobile(buses)'] = transport['Automobile(buses)'] * 1000
    transport['Air'] = transport['Air'] * 1000
    transport['Trams'] = transport['Trams'] * 1000
    transport['Trolleybuses'] = transport['Trolleybuses'] * 1000
    transport['Subway'] = transport['Subway'] * 1000
    
    transport['Total'] = transport['Railway'] + transport['Sea'] + transport['River'] + transport['Automobile(buses)'] + transport['Air'] + transport['Trams'] + transport['Trolleybuses'] + transport['Subway']

    return transport

transport_dataset()

,Railway,Sea,River,Automobile(buses),Air,Trams,Trolleybuses,Subway,Total
Year,,,,,,,,,
1995,577431500.0,7817000.0,3594100.0,3.483173e+09,1914900.0,8.216523e+08,1.358737e+09,561012400.0,6.815332e+09
1996,538568700.0,5044600.0,2735900.0,3.304600e+09,1724000.0,7.880262e+08,1.590439e+09,536304100.0,6.767443e+09
1997,500838800.0,4311300.0,2443100.0,2.512147e+09,1484500.0,1.265349e+09,2.388088e+09,507897000.0,7.182559e+09
1998,501428700.0,3838300.0,2356500.0,2.403425e+09,1163900.0,1.450735e+09,2.717998e+09,668456400.0,7.749402e+09
1999,486810400.0,3084300.0,2269400.0,2.501708e+09,1087000.0,1.456755e+09,2.735241e+09,724425500.0,7.911380e+09
2000,498683000.0,3760500.0,2163300.0,2.557515e+09,1164000.0,1.380921e+09,2.581880e+09,753540100.0,7.779627e+09
2001,467825300.0,5270800.0,2034200.0,2.722002e+09,1289900.0,1.333782e+09,2.332086e+09,793197000.0,7.657487e+09
2002,464810400.0,5417900.0,2211900.0,3.069136e+09,1767500.0,1.196403e+09,2.140315e+09,831040400.0,7.711102e+09
2003,476742400.0,6929400.0,2194100.0,3.297504e+09,2374700.0,1.132182e+09,1.920746e+09,872812500.0,7.711486e+09
2004,452225600.0,9678400.0,2140200.0,3.720326e+09,3228500.0,1.112394e+09,1.848843e+09,848176100.0,7.997013e+09
2005,445553100.0,11341200.0,2247600.0,3.836514e+09,3813100.0,1.110958e+09,1.902761e+09,886597700.0,8.199786e+09
2006,448421700.0,10901300.0,2021900.0,3.987982e+09,4350900.0,1.082818e+09,1.788227e+09,917699800.0,8.242423e+09
2007,447093700.0,7690800.0,1851600.0,4.173034e+09,4928600.0,1.026812e+09,1.620967e+09,931511900.0,8.213889e+09
2008,445465700.0,7361400.0,1551800.0,4.369126e+09,6181000.0,9.627025e+08,1.580384e+09,958693900.0,8.331466e+09
2009,425974800.0,6222500.0,1511600.0,4.014035e+09,5131200.0,7.870136e+08,1.283382e+09,751988300.0,7.275260e+09
2010,427240600.0,6645600.0,985200.0,3.726289e+09,6106500.0,7.138097e+08,1.203551e+09,760551200.0,6.845179e+09
2011,429784900.0,7064100.0,962800.0,3.611830e+09,7504800.0,7.979936e+08,1.346432e+09,778253400.0,6.979825e+09
2012,429115300.0,5921000.0,722700.0,3.450173e+09,8106300.0,7.996888e+08,1.345545e+09,774057600.0,6.813330e+09
2013,425216900.0,6642000.0,631100.0,3.343660e+09,8107200.0,7.573828e+08,1.306228e+09,774794000.0,6.622662e+09
2014,389305500.0,29400.0,565100.0,2.913318e+09,6473300.0,7.699111e+08,1.096885e+09,725819900.0,5.902307e+09
2015,389794100.0,25500.0,550800.0,2.250345e+09,6302700.0,7.386032e+08,1.080773e+09,700369500.0,5.166764e+09
2016,389057600.0,30300.0,448500.0,2.024893e+09,8277900.0,6.940094e+08,1.038746e+09,698367300.0,4.853830e+09
2017,164941600.0,28600.0,562900.0,2.019325e+09,10555600.0,6.758414e+08,1.058072e+09,718886900.0,4.648214e+09
2018,157962400.0,71900.0,596200.0,1.906852e+09,12529000.0,6.662711e+08,1.016241e+09,726585100.0,4.487109e+09
2019,154811800.0,79400.0,589900.0,1.804929e+09,13705800.0,6.275151e+08,9.456945e+08,714982100.0,4.262308e+09
2020,68332500.0,52600.0,256500.0,1.083873e+09,4797500.0,4.227532e+08,5.789996e+08,411149700.0,2.570214e+09

## Five question to the data set
Let's ask 5 question to the data set and answers them.

### Question 1
In which year the largest total number of passengers was transported?

In [41]:
def answer_one():
    q_1 = transport_dataset()
    return q_1['Total'].idxmax(), q_1['Total'].max()

answer_one()

(2008, 8331466000.0)

### Question 2
In which year was the share of passenger traffic by railway the largest?

In [53]:
def answer_two():
    q_2 = transport_dataset()
    q_2['% Railway'] = q_2['Railway'] / q_2['Total']
    q_2['% Railway'] = q_2['% Railway'] * 100
    q_2['% Railway'] = q_2['% Railway'].round(2)
    return q_2['% Railway'].idxmax(), q_2['% Railway'].max()

answer_two()

(1995, 8.47)

### Question 3
In which year was the number of passengers carried by river more than by sea?

In [54]:
def answer_three():
    q_3 = transport_dataset()
    q_3['Diff_River_Sea'] = q_3['River'] - q_3['Sea']
    q_3_index = q_3['Diff_River_Sea'].idxmax()
    q_3_max = q_3['Diff_River_Sea'].max()
    return q_3_index, q_3_max

answer_three()

(2014, 535700.0)

### Question 4
Find min, max, mean, and std of the total number of passengers carried during the periods: 
- 1995-1999
- 2000-2004
- 2005-2009
- 2010-2014
- 2015-2020

In [76]:
def answer_four():
    import pandas as pd
    q_4 = transport_dataset()
    q_4['Total, mln'] = q_4['Total'] / 1000000
    q_4['Total, mln'] = q_4['Total, mln'].round(2)
    YearBins  = { 1995:'1995-1999', 1996:'1995-1999', 1997:'1995-1999', 1998:'1995-1999', 1999:'1995-1999',
                2000:'2000-2004', 2001:'2000-2004', 2002:'2000-2004', 2003:'2000-2004', 2004:'2000-2004',
                2005:'2005-2009', 2006:'2005-2009', 2007:'2005-2009', 2008:'2005-2009', 2009:'2005-2009',
                2010:'2010-2014', 2011:'2010-2014', 2012:'2010-2014', 2013:'2010-2014', 2014:'2010-2014',
                2015:'2015-2020', 2016:'2015-2020', 2017:'2015-2020', 2018:'2015-2020', 2019:'2015-2020', 2020:'2015-2020' }
    
    transport_stat = pd.DataFrame(columns = ['Min, mln', 'Max, mln', 'Average, mln', 'Std, mln'])
    for group, frame in q_4.groupby(YearBins):
        transport_stat.loc[group] = [frame['Total, mln'].min(), frame['Total, mln'].max(), frame['Total, mln'].mean(), frame['Total, mln'].std()]
    return transport_stat

answer_four()

           Min, mln  Max, mln  Average, mln    Std, mln
1995-1999   6767.44   7911.38      7285.222  526.063502
2000-2004   7657.49   7997.01      7771.344  133.387008
2005-2009   7275.26   8331.47      8052.566  437.531981
2010-2014   5902.31   6979.82      6632.660  427.737533
2015-2020   2570.21   5166.76      4331.405  916.726487

### Question 5
Using the data in the table from the previous task, find the most stable five years for the number of passengers carried.